[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
flake8 = "*"

[packages]
flask = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
start = "bash -c 'python client.py'"
